/*------------------
----Primary Font------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/*------------------------------
-------------Navigation style---------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-left: 10%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  margin-right: 30px;
}

/* --------------------------
------header style-----------*/
header {
  background: rgba(255, 144, 14, 0.1);
}

.Header-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #131313;
}

.header-position {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.banner-img {
  margin-top: 50px;
  margin-top: 50px;
  width: 1100px;
  height: 576px;
  border-radius: 18px;
}

/*---------------------------
---------Button style----------*/
.primary-btn,
.primary-btn2 {
  width: 180px;
  height: 64px;
  background: #FF900E;
  border-radius: 10px;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.primary-btn:hover {
  background-color: #5c3202;
  transition: ease-in .4s;
}

.primary-btn2 {
  width: 342px;
  height: 200px;
  left: 880px;
  top: 3104px;
  background: #FF900E;
  border-radius: 8px;
}

/*-------------------------
--------section-1-Style----------*/

.fast-section-imgs {
  margin-top: 85px;
  margin-left: 200px;
  gap: 24px;
}

.fast-section {
  display: flex;
  margin-top: 30px;
  margin-left: 300px;
}

.fast-section-blog {
  margin-top: 262px;
  margin-left: 73px;
}

.Blog-titles,
.space-g,
.space-o {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.space-g {
  color: #727272;
}

.space-o {
  color: #FF900E;

}

/*-----------------------
----------Secend section------*/
.sec-section-main-div {
  display: flex;
  margin-top: 90px;
  margin-left: 100px;
}

.sec-section-main-div1 {
  margin-right: 15%;
}

.Blog-titless {
  border-left: solid #FF900E;
  padding-left: 2%;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
}

.box-shedo {
  background-color: #ffff;
  padding: 3%;
  margin-top: 3%;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
  border-radius: 15px;
}

.experience {
  display: flex;
  flex-direction: column;
}

.architect-image {
  width: 708px;
}

.experience-button {
  position: relative;
  bottom: -858px;
  right: 814px;
  background-color: #FF900E;
  width: 342px;
  height: 200px;
  border: 0;
  border-radius: 10px;
}

.btn-t1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}

.btn-t2 {
  margin-top: -45px;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}

/*--------------------
----------Some Facts style------*/
.some-facts {
  margin-top: 70px;
  margin-left: 5%;
}

.icon-image {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3%;
}

.awards-winning {
  display: flexbox;
  border: 2px solid #FF900E;
  margin-left: 40px;
  width: 178px;
  transition: transform 2s;

}

.project-finished {
  display: flexbox;
  border: 2px solid #FF900E;
  margin-left: 40px;
  width: 178px;
  transition: transform 2s;
}

.Clients-worked {
  display: flexbox;
  border: 2px solid #FF900E;
  margin-left: 40px;
  width: 178px;
  transition: transform 2s;
}

.email {
  display: flexbox;
  border: 2px solid #FF900E;
  margin-left: 40px;
  width: 178px;
  transition: transform 2s;
}

/* hover  */
.email:hover,
.awards-winning:hover,
.project-finished:hover,
.Clients-worked:hover {
  border: 2px solid #FF900E;
  width: 250px;
  background-color: antiquewhite;
}

.facts {
  margin-top: -30px;
}

/*----------------------
--------section Sponspors----*/
.sponspors {
  margin-left: 40%;
}

.sponsers-logo {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
}

/*-------------------------
--------------footer section----------*/
.footer-main {
  margin-top: 50px;
  margin-left: 25%;
}

.all-section {
  background-color: #FFF4E7;
  ;
  text-align: center;
  width: 800px;
  height: 50px;
  border: 1px solid gray;
  padding: 1%;
}