/*------------------
----Primary Font------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/*------------------------------
-------------Navigation style---------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-left: 10%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  margin-right: 30px;
}

/* --------------------------
------header style-----------*/
header {
  background: rgba(255, 144, 14, 0.1);
}

.Header-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #131313;
}
.header-position{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.banner-img{
  margin-top: 50px;
     margin-top: 50px;
    width: 1100px;
    height: 576px;
    border-radius: 18px;
}

/*---------------------------
---------Button style----------*/
.primary-btn {
  width: 180px;
  height: 64px;
  background: #FF900E;
  border-radius: 10px;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.primary-btn:hover{
 background-color: #5c3202;
 transition: ease-in .4s;
}
/*-------------------------
--------section-1-Style----------*/

.fast-section-imgs{
margin-top: 85px;
 margin-left: 200px;
 gap: 24px;
}
.fast-section{
  display: flex;
  margin-top: 30px;
  margin-left: 300px;
}
.fast-section-blog{
  margin-top: 262px;
  margin-left: 73px;
}